body {
  max-width: 1600px;
  margin: 0 auto;
}

@font-face {
  font-family: "Gotham";
  src: url(../../brief/fonts/Gotham-Font/Gotham-Light.otf) format("opentype"), url(../../brief/fonts/Gotham-Font/GothamLight.ttf) format("truetype");
}
* {
  font-family: "Gotham", sans-serif;
}

p {
  font-weight: normal;
  font-size: 18px;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 28px;
}

.location p, .location h3 {
  font-family: "Gotham", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

.main__button {
  text-transform: uppercase;
  background: black;
  width: 120px;
  padding: 5px 65px;
  cursor: pointer;
  border-radius: 0 0 100% 0;
}
.main__button p {
  background: linear-gradient(to right, #9c7820, #9c7820, #c0a356, #f1e9b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 16px;
}

header {
  width: 100%;
  height: 111px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}
header #logo {
  text-align: center;
}
header #logo img {
  justify-self: center;
}
header nav {
  position: absolute;
  right: 10%;
}
header nav ul {
  width: 200px;
  display: flex;
  flex-basis: content;
  list-style-type: none;
  gap: 50px;
}
header nav ul a {
  cursor: pointer;
}

footer {
  width: 100%;
  height: 111px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: black;
}
footer .footer__logo {
  position: absolute;
  left: 10%;
  text-align: center;
}
footer nav {
  flex-basis: 100%;
}
footer nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 50px;
  padding: 0;
}
footer nav ul a {
  cursor: pointer;
}
footer .footer__credits {
  height: fit-content;
  flex-basis: content;
  background: linear-gradient(to right, #9c7820, #9c7820, #c0a356, #f1e9b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .footer__credits p {
  margin-top: 0;
  font-size: small;
}

.trailer {
  position: relative;
  z-index: -1;
  height: 1050px;
  margin: -111px 0;
}
.trailer video {
  width: 100%;
}

.intro {
  max-width: 1600px;
  height: 700px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.intro__text {
  width: 450px;
  display: flex;
  flex-direction: column;
}
.intro__text > h1, .intro__text > p, .intro__text .intro__text__button {
  margin: 40px 0;
}
.intro__picture img {
  object-fit: cover;
  width: 550px;
  height: 600px;
}

.menu {
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
}
.menu__pictures {
  display: flex;
  margin-left: 0;
}
.menu__pictures__first img {
  width: 400px;
  height: 500px;
}
.menu__pictures__second {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 6px;
}
.menu__pictures__second img {
  width: 250px;
  height: 247px;
  object-fit: cover;
}
.menu__text {
  width: 350px;
  display: flex;
  flex-direction: column;
}
.menu__text > h2, .menu__text > p, .menu__text .menu__text__button {
  margin: 30px 0;
}

.location {
  max-width: 1307px;
  margin: 60px auto;
  height: 600px;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.location__info, .location__map {
  flex-basis: 40%;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  background: linear-gradient(to right, #9c7820, #9c7820, #f1e9b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 2%;
}
.location__button {
  background: radial-gradient(circle at 50%, #9c7820, #c0a356, #f1e9b2);
  height: fit-content;
  padding: 0 20px;
  cursor: pointer;
}

.network {
  margin: 150px 0;
}
.network__link {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 30px;
  gap: 40px;
  font-size: large;
}
.network__link a {
  text-transform: uppercase;
  height: fit-content;
  align-self: center;
  font-weight: 800;
}
.network__pictures {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
