$dark-gold:#9c7820;
$medium-gold:#c0a356;
$light-gold:#f1e9b2;

.main__button
{
    text-transform: uppercase;
    background: black;
    width: 120px;
    padding: 5px 65px;
    cursor: pointer;
    border-radius: 0 0 100% 0;
    p 
    {
        background: linear-gradient(to right, $dark-gold, $dark-gold, $medium-gold, $light-gold);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
        font-size: 16px;
    }
}