@font-face {
    font-family: "Gotham";
    src: url(../../brief/fonts/Gotham-Font/Gotham-Light.otf) format("opentype"),
         url(../../brief/fonts/Gotham-Font/GothamLight.ttf) format("truetype");
}

*
{
    font-family: "Gotham", sans-serif;
}

p
{
    font-weight: normal;
    font-size: 18px;
}

h1, h2, h3
{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 28px;
}

.location p, .location h3 
{
    font-family: "Gotham", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}