.trailer
{
    position: relative;
    z-index: -1;
    height: 1050px;
    margin: -111px 0;
    video 
    {
        width: 100%;
    }
}

.intro
{
    max-width: 1600px;
    height: 700px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    &__text
    {
        width: 450px;
        display: flex;
        flex-direction: column;
        > h1, > p, .intro__text__button  
        {
            margin: 40px 0;
        }
    }
    &__picture
    {
        img 
        {
            object-fit: cover;
            width: 550px;
            height: 600px;
        }
    }
}

.menu
{
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    &__pictures
    {
        display: flex;
        margin-left: 0;
        &__first
        {
            img 
            {
                width: 400px;
                height: 500px;
            }
        }
        &__second
        {
            display: flex;
            flex-direction: column;
            gap: 6px;
            margin-left: 6px;
            img 
            {
                width: 250px;
                height: 247px;
                object-fit: cover;
            }
        }
    }
    &__text
    {
        width: 350px;
        display: flex;
        flex-direction: column;
        > h2, > p, .menu__text__button 
        {
            margin: 30px 0;
        }
    }
}

.location
{
    max-width: 1307px;
    margin: 60px auto;
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    &__info, &__map
    {
        flex-basis: 40%;
        display: flex;
        flex-flow: column nowrap;
        gap: 30px;
        background: linear-gradient(to right, $dark-gold, $dark-gold, $light-gold);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 2%;
    }
    &__button
    {
        background: radial-gradient(circle at 50%, $dark-gold, $medium-gold, $light-gold);
        height: fit-content;
        padding: 0 20px;
        cursor: pointer;
    }
}

.network
{
    margin: 150px 0;
    &__link
    {
        display: flex;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 30px;
        gap: 40px;
        font-size: large;
        a 
        {
            text-transform: uppercase;
            height: fit-content;
            align-self: center;
            font-weight: 800;
        }
    }
    &__pictures
    {
        display: flex;
        justify-content: center;
    }
}

